@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="animated fadeInDown">
        <div class="col-md-8">
            <div class="row">
                <h1 class="logo-name">MyTerm</h1>
            </div>

            <hr />

            <div class="row">
                <div class="input-group">
                    <input type="text" placeholder="Search for company" name="search" class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a2.jpg">
                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>John Smith</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a1.jpg">
                                            <div class="m-t-xs font-bold">CEO</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Alex Johnatan</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a3.jpg">
                                            <div class="m-t-xs font-bold">Marketing manager</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Monica Smith</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a4.jpg">
                                            <div class="m-t-xs font-bold">Sales manager</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Michael Zimber</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a5.jpg">
                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Sandra Smith</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a6.jpg">
                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Janet Carton</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="flags">
                <a href="#"><img src="~/Images/flags/32/Macedonia.png" title="Macedonian" alt="Macedonia"> </a>
                <a href="#"><img src="~/Images/flags/32/United-Kingdom.png" title="English" alt="English"> </a>
            </div>
        </div>


        <hr />

        <div class="row">
            <div class="ibox-content">
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username or email" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                    <a href="#">
                        <small>Forgot password?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                </form>
                <p class="m-t"> <small>MyTerm &copy; 2016</small> </p>
            </div>
        </div>
    </div>

    </div>
</body>

</html>


